{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie below</p>

<form method="get" action="/movies/search/">
    <div class="form-group">
        <label for="title">Movie Title:</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<h2 class="mt-5 mb-3">Search Results:</h2>

{% if movies %}
<ul class="list-group">
    <li class="list-group-item">{{ movies.title }}</li>
</ul>
{% else %}
<p class="mt-5">No movies found.</p>
{% endif %}

{% endblock %}
